.projects {
    height: 100vh;
    display: flex;
    margin: auto 6%;
    color: #56565e;
}

.projects-content-wrapper {
    display: block;
    align-items: center;
    text-align: left;
    z-index: 1;
    margin: auto 0;
    padding-bottom: 7%;
    width: 100%;
}

.projects-content-wrapper>.title::after {
    content: "what i've worked on";
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-row {
    display: flex;
    justify-content: space-evenly;
}

.project-card {
    /* width: 72%; */
    width: 90%;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    background-color: #56565e;
    color: #f4f4f4;
    transition: all .3s ease;
    padding: 30px 15px 10px 15px;
    border-radius: 12%;
    height: 98%;
}

.project-card:hover {
    background-color: crimson;
}

.project-logo {
    height: 100px;
}


.project-logo, .carousel .slide img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #f4f4f4;
    transition: all .3s ease;
}

.project-name {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px;
}

.slide {
    min-width: 33% !important;
}