.contact {
    height: 100vh;
    display: flex;
    margin: auto 6%;
    color: #56565e;
}

.contact-content-wrapper {
    display: block;
    align-items: center;
    text-align: left;
    z-index: 1;
    margin: auto 0;
    padding-bottom: 7%;
    width: 100%;
}

.contact-content-wrapper>.title::after {
    content: "get in touch";
}

.contact-content {
    display: flex;
}

.contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-content .left {
    text-align: left;
}

.contact-content .left p {
    margin-bottom: 10px;
}

.contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact-content .row i {
    font-size: 25px;
    color: crimson;
}

.contact-content .row .info {
    margin-left: 30px;
}

.contact-content .info .head {
    font-weight: 500;
}