.about-content {
    display: flex;
}

.about-content>.left {
    width: 30%;
    text-align: right;
}

.about-content>.right {
    width: 50%;
}

.about-content>.left>img {
    height: 310px;
    border-radius: 10%;
}

.about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-content .right p {
    text-align: justify;
    font-size: large;
}